* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
main,
section,
aside,
article,
footer,
nav,
menu,
details,
figure,
figcaption {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

/*progress*/
.progress {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 10001;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e3ecff;
  transition: 0.6s cubic-bezier(0.42, 0, 0.13, 1.04) 1s;
}
.progress .loading {
  width: 70vw;
  max-width: 60vw;
  height: 22vw;
  border-radius: 1rem;
  display: flex;
  background: #115cff;
  justify-content: center;
  align-items: flex-end;
}
.progress .loading img {
  width: 30vw;
  animation: loadImg 0.5s infinite alternate cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.progress .progress-text {
  margin-top: 7%;
  margin-left: 1%;
  font-size: 5vw;
  color: #115cff;
}

.progress.active {
  /*	top: -120%;*/
  /*	opacity: 0;*/
  transform: scale(0);
  opacity: 0;
}

@keyframes loadImg {
  from {
    transform: translateY(-3%);
  }
  to {
    transform: translateY(3%);
  }
}
/* ========== login ========== */
#login {
  background-color: #e3ecff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
#login .login_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login .login_wrapper .login_logo img {
  width: 30vw;
  margin: 3vh 0;
}
#login .login_wrapper .login_form .login_text {
  width: 60vw;
  padding: 1rem 0.8rem;
  margin: 0.3rem 0;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  color: #444;
}
#login .login_wrapper .login_form .login_btn {
  width: 60vw;
  padding: 1rem 0.8rem;
  margin: 0.3rem 0;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  background-color: #444;
  color: #ffffff;
}
#login .login_wrapper .login_bottom {
  margin-top: 1rem;
  color: #adadad;
}

#stopwatch {
  max-width: 640px;
  min-width: 360px;
  margin: 0 auto;
  border: 1px solid blue;
}

.stopwatchTitle {
  text-align: center;
}

.watch {
  width: 80%;
  text-align: center;
  background-color: #115cff;
  margin: 4rem auto;
  padding: 2rem;
  border-radius: 1rem;
}

.time {
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.controls button {
  padding: 1rem;
  margin: 0 0.5rem;
  border: none;
  appearance: none;
  background: none;
  outline: none;
  user-select: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #333;
  transition: 0.4s;
  border-radius: 1rem;
  font-size: 1.125rem;
}
.controls button:hover {
  opacity: 0.7;
}
.controls button:active {
  background-color: #115cff;
}

#recordsCover {
  width: 80%;
  height: 100%;
  margin: auto;
}
#recordsCover #recordList {
  text-align: left;
  font-size: 30px;
  border-radius: 1rem;
}
#recordsCover #recordList li {
  list-style: none;
  background: #e3ecff;
  padding: 0.8rem;
  margin: 0.7rem 0;
  border-radius: 0.8rem;
}

/*# sourceMappingURL=main.css.map */
