$font-color1: #111;
$font-color2: #222;
$font-color3: #333;

$gray1: #111;
$gray2: #444;
$gray3: #adadad;
$gray4: #eaeaea;
$gray5: #f8f8f8;

$point: #115cff;
$point1: #e3ecff;
$point2: #4498f2;

$main-bg: #f0f4f7;
$white: #ffffff;
