/* ========== home(main.html) ========== */

.home {
  background-color: $main-bg;
}
.contents {
  padding: 20px;
}

@mixin header_top() {
  position: absolute;
  top: 0px;
}

header {
  position: relative;
  max-width: 640px;
  min-width: 270px;
  margin: 0 auto;
  height: 75px;
  line-height: 70px;
  h1 {
    text-align: center;
    line-height: 70px;
    a {
      display: inline-block;
      span {
        display: none;
      }
    }
  }

  button {
    background: transparent;
    border: none;
  }
  .top_left {
    @include header_top();
    left: 12px;
    .ico_alarm {
      img {
        width: 29px;
      }
    }
  }
  .top_right {
    @include header_top();
    right: 12px;
    img {
      width: 24px;
    }
  }
}

/*  */
.dark {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: none;
}

/* gnb */
#gnb {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -243px;
  width: 243px;
  border-radius: 20px 0 0 20px;
  background-color: white;
  overflow: hidden;
  z-index: 9999;
  .inner {
    width: 243px;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
    .info_user {
      padding: 32px 24px 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .info_login {
        font-weight: bold;
        letter-spacing: -1.8px;
        color: $point;
      }
      .info_inquiry {
        font-size: 13px;
        letter-spacing: -0.5px;
      }
    }
    .list_menu {
      li {
        padding: 15px 0;
        a {
          display: flex;
          align-items: center;
          i {
            font-size: 21px;
            color: $gray2;
          }
          img {
            width: 26px;
          }
          span {
            margin-left: 10px;
          }
        }
      }
      li.line {
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #eff0f2;
      }
    }
    .btn_menu {
      position: relative;
      width: 100%;
      padding: 0 24px;
      text-align: left;
      color: $font-color1;
      font: {
        size: 1rem;
        weight: 400;
      }
    }
  }
}

.login {
}
.login a {
  display: block;
  text-align: center;
  padding: 25px;
}
.login .ico_gnb_lock {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: -560px -20px;
  vertical-align: top;
}

/* ========== slide_banner ========== */
.slide {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
  user-select: none;
  .slide_item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    width: 100%;
    height: 408px;
    flex-shrink: 0;
    transition: left 0.15s;
    border-radius: 10px;
  }
}
.slide_item.item1 {
  width: 100%;
  background: url("/img/main01.jpg");
  background-size: cover;
}
.slide_item.item2 {
  background: url("/img/main02.png");
  background-size: cover;
}
.slide_item.item3 {
  background: url("/img/main03.jpeg");
  background-size: cover;
}
/* 페이지네이션 스타일 */
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slide_pagination {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.slide_pagination > li {
  /* 현재 슬라이드가 아닌 것은 투명도 부여 */
  color: $point1;
  cursor: pointer;
  font-size: 25px;
}
.slide_pagination > li.active {
  /* 현재 슬라이드 색상은 투명도 없이 */
  color: $point;
}

.slide_item_duplicate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  transition: left 0.15s;
}

/* ========== 출석체크/시간표  ========== */

@mixin button_wrap($bgcolor) {
  width: 50%;
  background-color: $bgcolor;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.14);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $white;
  cursor: pointer;
}

#check_schedule {
  margin-top: 40px;
  h3 {
    color: $font-color3;
  }
  .check_schedule_wrap {
    display: flex;
    gap: 10px;
    .check {
      @include button_wrap($bgcolor: #64aaf5);
      a {
        color: $white;
        i {
          font-size: 21px;
        }
        p {
          margin-top: 10px;
        }
      }
    }
    .schedule {
      @include button_wrap($bgcolor: #604ce6);
      a {
        color: $white;
        i {
          font-size: 21px;
        }
        p {
          margin-top: 10px;
        }
      }
    }
  }
}

/* ========== everyday_button ========== */
#everyday {
  .every_wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    a {
      width: 40%;
      color: $gray2;
      font-size: 24px;
    }
    .timer {
      border-right: 2px solid #ecedf1;
    }
    .timer,
    .todo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      width: 100%;
      img {
        width: 30px;
        margin: 0 auto;
      }
      p {
        color: $gray2;
        font-size: 1.1rem;
        margin-top: 10px;
      }
    }
  }
}

/* ========== word(영단어 랜덤) ========== */
#englishword {
  margin: 40px 0;
  .word_title {
    margin-bottom: 10px;
    span {
      color: $point2;
      margin-left: 5px;
    }
  }
  .word {
    width: 100%;
    border-radius: 10px;
    background-image: linear-gradient(to top, #6040e4, #62abff);
    padding: 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.14);
    span {
      color: $white;
      display: block;
      &:nth-child(1) {
        letter-spacing: 1px;
        font: {
          size: 26px;
          weight: 800;
        }
      }
      &:nth-child(2) {
        margin-top: 10px;
        font: {
          size: 21px;
          weight: 300;
        }
      }
    }
  }
}
