#login {
	background-color: $point1;
	width: 100%;
	height: 100vh;
	.login_wrapper {
		width: 100%;
		.login_logo {
			img {
				width: 30vw;
			}
		}
		.login_form {
			.login_text {
			}
			.login_btn {
			}
		}
		.login_button {
		}
	}
}
