/* ========== login ========== */

@mixin loginbutton {
	width: 100%;
	padding: 1.2rem 1rem;
	margin: 0.3rem 0;
	border-radius: 50px;
	border: none;
	font-size: 1.2rem;
}

#login {
	background-color: $point1;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	.login_wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.login_logo {
			text-align: center;
			img {
				width: 30%;
				margin: 3vh 0;
			}
		}
		.login_form {
			width: 60%;
			.login_text {
				@include loginbutton();
				color: $gray2;
			}
			.login_btn {
				@include loginbutton();
				background-color: $gray2;
				color: $white;
				margin-top: 3rem;
			}
		}
		.login_bottom {
			margin-top: 4rem;
			color: $gray3;
		}
	}
}
