/* ========== stopwatch ========== */

#stopwatch {
  width: 100%;
  margin: 0 auto;
}
.stopwatchTitle {
  text-align: center;
  font-size: 24px;
  color: $gray2;
  span {
    color: $point;
  }
}
.watch {
  width: 100%;
  text-align: center;
  background-color: $point2;
  margin: 50px auto;
  padding: 40px 5px;
  border-radius: 1rem;
  .time {
    font-size: 42px;
    color: $white;
    margin-bottom: 1rem;
  }
}
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    padding: 12px 8px;
    margin: 0 4px;
    border: none;
    appearance: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    color: $font-color1;
    background-color: $white;
    transition: 0.2s;
    border-radius: 8px;
    font-size: 1rem;
    &:active {
      background-color: #115cff;
      color: $white;
    }
  }
}

#recordsCover {
  width: 100%;
  margin: auto;
  #recordList {
    text-align: left;
    font-size: 1rem;
    border-radius: 8px;
    li {
      list-style: none;
      background: $point1;
      padding: 0.5rem;
      margin: 0.5rem;
      border-radius: 8px;
    }
  }
}

#recordList {
  height: 300px;
  overflow-y: scroll;
}
#recordList::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}
#recordList::-webkit-scrollbar-thumb {
  height: 30%;
  background: $main-bg;
  border-radius: 10px;
}
#recordList::-webkit-scrollbar-track {
  background: $white;
}
