/* ========== todos ========== */

#todo_form {
  input {
  }
}
#todo_list {
  li {
    span {
    }
  }
}

#dday {
  margin: 40px 0;
  .dday_title {
    margin-bottom: 10px;
    span {
      color: $point2;
      margin-left: 5px;
    }
  }
  .dday_wrap {
    width: 100%;
    border-radius: 10px;
    background-color: $white;
    padding: 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.14);
    .dday_day {
      font-size: 21px;
      color: $gray2;
    }
    .ddayTime {
      padding: 10px 0;
    }
    .ddayText {
    }
  }
}

/* 투두리스트 */
.todoTitle {
  text-align: center;
  font-size: 24px;
  color: $gray2;
  margin-bottom: 50px;
  span {
    color: $point;
  }
}
/* TODO FORM */
.todo_form {
  background-color: $point2;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid $point1;
    cursor: pointer;
    text-indent: -999999px;
    border-radius: 100%;
    margin-right: 8px;
  }
}

.todo_form input {
  width: 100%;
  padding: 10px 12px;
  background-color: $point2;
  border: 0;
  border-radius: 4px;
  color: white;
  &:focus {
    outline: 1px solid $white;
  }
}

/* TODO ITEMS */
.todo-items-wrapper {
  background-color: $white;
  border-radius: 8px;
}
.todo-items-wrapper {
  height: 300px;
  overflow-y: scroll;
}
.todo-items-wrapper::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}
.todo-items-wrapper::-webkit-scrollbar-thumb {
  height: 30%;
  background: $main-bg;
  border-radius: 10px;
}
.todo-items-wrapper::-webkit-scrollbar-track {
  background: $white;
}
.todo-items {
  list-style: none;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px 10px 0;
    border-bottom: 1px solid $point1;
    .todo-right {
      margin-left: 8px;
      button {
        border: none;
        background-color: $gray5;
        padding: 5px;
        margin: 0 2px;
        border-radius: 5px;
        img {
          width: 20px;
        }
      }
    }
  }
}

.todo-left {
  display: flex;
  align-items: center;
  color: var(--light-grayish-blue2);
  cursor: pointer;
}
.todo-left.completed {
  text-decoration: line-through;
  opacity: 0.4;
}
.todo-left input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.todo-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.footer-menus {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 14px;
  li {
    margin-right: 6px;
    margin-left: 6px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
}
.footer-menus li:hover,
.footer-menus li.selected {
  color: #5083f5;
}
.clear-completed {
  background-color: transparent;
  border: 0;
  color: $gray3;
}
