@import "color.scss";

header {
  border-bottom: 2px solid $gray5;
  h1 {
    a {
      span {
        display: block;
        color: $font-color3;
        font: {
          size: 18px;
          weight: 500;
        }
      }
    }
  }
}

.attendTitle {
  text-align: center;
  font-size: 24px;
  color: #444;
  margin-bottom: 50px;
  span {
    color: $point;
  }
}
#output {
  padding: 10px;
  background-color: $point1;
  border-radius: 10px;
  text-align: center;
}
#frame {
  border: 2px solid $point;
  background-color: #ffffff;
  margin: 8px 0;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
canvas {
  width: 100%;
}

@mixin sub_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

@mixin sub_page_img {
  width: 30%;
  margin-bottom: 50px;
}

@mixin sub_page_p {
  color: $font-color3;
  font-size: 16px;
  font-weight: 300;
}

#academy {
  @include sub_page();
  img {
    @include sub_page_img();
  }
  p {
    @include sub_page_p();
  }
}

#schedule {
  @include sub_page();
  img {
    @include sub_page_img();
  }
  p {
    @include sub_page_p();
  }
}

#lecture {
  @include sub_page();
  img {
    @include sub_page_img();
  }
  p {
    @include sub_page_p();
  }
}

#notice {
  @include sub_page();
  img {
    @include sub_page_img();
  }
  p {
    @include sub_page_p();
  }
}

#teacher {
  @include sub_page();
  img {
    @include sub_page_img();
  }
  p {
    @include sub_page_p();
  }
}
