@import "color.scss";

header {
  border-bottom: 2px solid $gray5;
  h1 {
    a {
      span {
        display: block;
        color: $font-color3;
        font: {
          size: 18px;
          weight: 500;
        }
      }
    }
  }
}

.attendTitle {
  text-align: center;
  font-size: 24px;
  color: #444;
  margin-bottom: 50px;
  span {
    color: $point;
  }
}
#output {
  padding: 10px;
  background-color: $point1;
  border-radius: 10px;
  text-align: center;
}
#frame {
  border: 2px solid $point;
  background-color: #ffffff;
  margin: 8px 0;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
canvas {
  width: 100%;
}
